<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../template/css/404.css">
    <meta http-equiv="refresh" content="5; url=index.jsp">
    <title>Document</title>
</head>

<body>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output" style="font-size: 30px; font-weight: bolder;color:red;">Sorry, the page you requested was not
        found</p>
    <p class="output">Automatically back to <a href="index.jsp">Home Page</a> after 5s</p>
    <p class="output">Good luck</p>
</div>
</body>

</html>